/* RESET STYLES */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/* RESET STYLES */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.new_book_form{
  display: flex;
  flex-direction: column;
  align-content: center;
}

dialog {
  padding: 15px;
  /* border: none; */
  border-radius: 6px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs > input{
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  padding: 15px;
}
.action_button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  color: white;
  background-color: #157ad0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover{
  background-color: #156cd0;
}

button:active {
  background-color: #1556d0;
}

.shadow{
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}
