/* RESET STYLES */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/* RESET STYLES */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding: 30px;
  font-size: 4rem;
  font-weight: bold;
}

.wrapper{
  display: inherit;
  flex-direction: inherit;
  align-items: flex-start;
  width: 80%;
  gap: 20px;
}

table {
  align-self: stretch;
  border-collapse: collapse; /* Supprime les espaces entre les bordures */
  overflow: hidden;
  background-color: white;
}

th, td {
  border-bottom: 1px solid #ddd; /* Bordure fine et discrète */
  padding: 12px;
  text-align: center;
}

th {
  background-color: #ececec;
}

tr:nth-child(even) {
  background-color: #f8f8f8; /* Lignes alternées */
}

tr:hover {
  background-color: #ddd; /* Surbrillance au survol */
}

.new_book_form{
  display: flex;
  flex-direction: column;
  align-content: center;
}

dialog {
  padding: 15px;
  border: none;
  justify-self: center;
  align-self: center;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputs > input{
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  padding: 15px;
}
.action_button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  color: white;
  background-color: #157ad0;
  padding: 10px;
  border: none;
  font-size: 1rem;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

button:hover{
  background-color: #156cd0;
}

button:active {
  background-color: #1556d0;
}

.shadow{
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
